*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --board: 8;
  --cell-size: 7vw;
  --max-cell-size: 30px;
}

body {
  font-family: VT323, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-image: url("/images/background-pixelate.webp");
  background-position: top center;
  background-color: #3a3383;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none !important;
}

.root {
  height: 90vh;
  margin: 5vh auto;
  width: 80%;
  max-width: 400px;
  padding: 16px 20px 20px;
  gap: 10px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  outline: 5px solid #fc5c21;
  outline-offset: 2px;
  background-image: url("/images/main-background.svg");
  background-color: #3a3383;
  box-shadow: 0 0 2rem #fc5b2187;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container::after {
  filter: blur(3rem);
}

.main-header {
  height: fit-content;
  display: flex;
  gap: 10px;
}

.game-title {
  color: #fc5c21;
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 70%;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-left: 10px;
}

.mine-icon {
  position: absolute;
  top: -22px;
  left: -22px;
  scale: 2;
}

.introduction {
  padding: 5px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 500px;
  background-color: #4b555657;
  border: dashed 1px #fff;
  border-radius: 10px;
  color: #fff;
}

.title-intro {
  font-size: 1.4rem;

  @media (width < 350px) {
    font-size: 1.2rem;
  }
}

.text-intro {
  text-justify: auto;
  font-size: 1.2rem;

  @media (width < 350px) {
    font-size: 1rem;
  }
}

.game {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.game__title {
  background-color: #fc5c21;
  outline: 2px solid #fc5c21;
  font-size: 1rem;
  font-weight: 0;
  padding: 4px;
  color: #242424;
}

.game__window {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4px 8px 8px;
  background-color: #8d8aad;
  border: 3px solid #645fa1;
  outline: 2px solid #fc5c21;
  gap: 10px;
}

.total-mines {
  height: 2rem;
  font-size: 1.3rem;
  text-align: center;
  align-self: center;
}

.board {
  width: calc(var(--board) * var(--cell-size));
  height: calc(var(--board) * var(--cell-size));
  max-width: calc(var(--max-cell-size) * var(--board));
  max-height: calc(var(--max-cell-size) * var(--board));
  display: grid;
  grid-template-columns: repeat(var(--board), 1fr);
  grid-template-rows: repeat(var(--board), 1fr);
  background-color: #ffd5c6;
  box-shadow: 0 0 10px #ffffff3c;
  outline: 4px solid #5b5691;
}

.cell-container {
  height: var(--cell-size);
  width: var(--cell-size);
  max-width: var(--max-cell-size);
  max-height: var(--max-cell-size);
}

.cell {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #fc5c21;
  box-shadow: inset -2px -2px 3px #00000075;
  cursor: pointer;
  font: inherit;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background-color: #ff7d4e;
    scale: 1.2;
    border-radius: 3px;
  }
}

.cell--mine {
  background-color: #3a3383;
  box-shadow: inset 0px 0px 0px;
}

.mine {
  max-width: 100%;
  width: 70%;
}

.cell--opened {
  background-color: #ffd5c6;
  border: 1px solid #645fa1;
  box-shadow: inset 0px 0px 0px;
}

.game-over-message {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  background-color: #4c4888;
  border: 3px solid #262062;
  box-shadow: 7px 7px 7px #000000d2;
  color: #fff;
  animation-duration: 2s;
  animation-name: game-over;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  scale: 0;

  @media (width < 430px) {
    font-size: 2rem;
  }

  @media (width < 350px) {
    font-size: 1.5rem;
  }
}

@keyframes game-over {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

.victory-message {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  background-color: #fd7543;
  border: 3px solid #cc400e;
  box-shadow: 7px 7px 7px #000000d2;
  color: #fff;
  animation-duration: 2s;
  animation-name: victory;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  scale: 0;

  @media (width < 430px) {
    font-size: 2rem;
  }

  @media (width < 350px) {
    font-size: 1.5rem;
  }
}

@keyframes victory {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

.new-game {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 5px;
  background-color: #fd7543;
  border: 2px solid #cc400e;
  box-shadow: 7px 7px 7px #000000d2;
  color: #fff;
  animation-duration: 1s;
  animation-name: new-game;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  scale: 0;
  font: inherit;
  cursor: pointer;

  &:hover {
    color: #000;
  }

  @media (width < 430px) {
    font-size: 1.3rem;
    top: 90px;
  }

  @media (width < 350px) {
    font-size: 1.1rem;
  }
}

.new-game--victory {
  background-color: #4c4888;
  border: 2px solid #262062;
}

@keyframes new-game {
  0% {
    scale: 0.7;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.main-footer {
  justify-self: flex-end;
  text-align: center;
  color: #fff;
}
