body {
  font-family: VT323;
  margin: 0;
}

h1 {
  margin: 0;
}

.main-header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #4b5556;
  padding: 7px;
  box-shadow: inset 0rem 0.8rem rgb(255, 217, 0);
  border-bottom: 0.8rem solid rgb(255, 217, 0);
}

.nuclear-icon {
  opacity: 0.7;
  filter: invert(99%) sepia(50%) saturate(2149%) hue-rotate(341deg)
    brightness(99%) contrast(90%);
}

.game-title {
  color: #f1e14f;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: #ebbf4669 2px 5px;
  letter-spacing: 2px;
  text-align: center;
}
